.header {
    background-color: rgb(160, 240, 12);
    padding: 20px 40px;
    box-shadow: 0 0 10px 0 black;
}

.mt-auto {
    position: fixed;
    bottom: 0px;
    text-align: center;
    padding: 10px;
    width: 100%;
    background-color: antiquewhite;
}

.edit-position-card {
    margin: 10px auto;
    width: 500px;
}

.edit-photo {
    display: flex;
    justify-content: right;
    width: 190px;
    height: 190px;
    border-radius: 100%;
    border: 7px solid #e7dddd;
}

.carditle {
    background-color: rgb(102, 255, 0);
    font-size: 3rem;
    padding: 30px;
}

.carditle2 {
    margin: 10px;
}